<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <link rel="stylesheet" href="/css/account.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/search.css">
        <link rel="stylesheet" href="/css/user_login.css">
        <link rel="stylesheet" href="/css/user_signup.css">

        <link rel="icon" href="/icons/icon.png" sizes="32x32">
        {{#if title}}
            <title>{{title}}</title>
        {{else}}
            <title>GJHLibrary</title>
        {{/if}}
    </head>
    <body>
        <div class="basePanel">
            {{#unless notDisplayAccount}}
                {{#if user}}
                    {{> account/logedin user}}
                {{else}}
                    {{> account/logedout user}}
                {{/if}}
            {{/unless}}

            {{{body}}}
        </div>
    </body>
</html>