<div class="base">
    <div class="logo">
        <img src="images/logo.png" alt="Ou fuck :(">
    </div>

    <div class="info">
        <p class="info">Helou this is GJH Library page</p>
        <p class="info">Use search box to search books by title</p>
        <p class="infoFuture">(Only planned feature) Click more for advanced setting</p>
    </div>

    <div class="search">
        <form action="/search" method="get">
            <input type="text" name="search" autocomplete="off" spellcheck="false" placeholder="type here" class="search">
            <input type="submit" value="Search" class="search">
        </form>
    </div>
</div>