<div class="base">
    <div class="signupPanel">
        <form action="/user/signedup" method="POST">
            <div class="signupTitle">
                <p class="signupTitle">GJHLibrary</p>
                <p class="signupTitleDetail">Account creation</p>
            </div>
            <div class="signupField">
                <p class="signupFieldTitle">First name</p>
                <input type="text" name="first_name" autocomplete="off" spellcheck="false" class="signupField">
            </div>
            <div class="signupField">
                <p class="signupFieldTitle">Last name</p>
                <input type="text" name="last_name" autocomplete="off" spellcheck="false" class="signupField">
            </div>
            <div class="signupField">
                <p class="signupFieldTitle">Mail</p>
                <input type="text" name="mail" autocomplete="off" spellcheck="false" class="signupField">
            </div>
            <div class="signupField">
                <p class="signupFieldTitle">Isic number</p>
                <input type="text" name="isic" autocomplete="off" spellcheck="false" class="signupField">
            </div>
            <div class="signupField">
                <p class="signupFieldTitle">Password</p>
                <input type="password" name="password" autocomplete="off" spellcheck="false" class="signupField">
            </div>
            <div class="submitPanel">
                <input type="submit" value="Sign up" class="signup">
            </div>
        </form>
    </div>
</div>