<div class="accountLogedin">
    <div class="name">
        <img src="images/user.png" alt="Ou fuck :(" class="userIcon">
        <p class="name">{{first_name}} {{last_name}}</p>
    </div>
    <a href="/user/logout" class="accountLogout">Log out</a>
</div>